<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="loki_example_components" frontName="loki_example_components">
            <module name="YireoTraining_ExampleLokiComponents"/>
        </route>
    </router>
</config>
